Repository ValG4/unicon, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, iconx, icont, iconc, src, IPL, uni, tests, doc, plugins

Add a discussion of large integers to appendix A of the Unicon book.
  doc/book/advanced.tex
  doc/book/langref.tex
  doc/book/programs.tex
Labels: doc

Don't run CI on push, limit to PR
  .github/workflows/ccpp.yml
Labels: none

Don't attempt x86_32 binary package build
  .github/workflows/ccpp.yml
  .github/workflows/packages.yml
Labels: none

CI Test Case: --disable-graphics3D
  .github/workflows/ccpp.yml
Labels: none

Libz should be available on MacOS if it detected
  src/h/config.h
Labels: src

Address PR #133 comments
  Makefile
  debian/copyright
  debian/rules
Labels: repo

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

iconx:
  - src/runtime/*

icont:
  - src/icont/*

iconc:
  - src/iconc/*

src:
  - any: ['src/**/*']

IPL:
  - any: ['ipl/**/*']

uni:
  - any: ['uni/**/*']

tests:
  - any: ['tests/**/*']

doc:
  - any: ['doc/**/*']

plugins:
  - any: ['plugins/**/*']
